<div class="table-bordered border-left">
  <div class="top-title-container text-article-info">
    共检索到 <%= @jobs.count %> 条记录
    <%= will_paginate %>
  </div>

  <% @jobs.each do |job| %>
    <div class="row-fluid border-bottom" style="padding-bottom: 10px;">
      <div class="padding10">
        <div class="pull-left">
          <%= image_tag 'http://placehold.it/48x48', class: 'thumbnail' %>
        </div>
        <div class="span10 article-list word-wrap" style="margin-left: 10px;">
          <%= link_to job.title, job_path(job), class: 'title' %>
          <br />
          <span class="text-article-info">
            <% unless job.company.strip.empty? then %>
              @<%= job.company %>
              <span class="dot-divider">•</span>
            <% end %>
            <%= job.user.name %>
            <span class="dot-divider">•</span>
            <% if job.job_comments.any? then %>
              最后由 <%= job.job_comments.last.user.name %> 于<%= job.job_comments.last.created_at_from_now %>回复
            <% else %>
              于<%= job.created_at_from_now %>发布
            <% end %>
            <% if job.job_comments.count > 0 then %>
              <span class="dot-divider">•</span>
              共<%= job.job_comments.count %>条回复
            <% end %>
          </span>
        </div>
        <% if signed_in? && current_user?(job.user) then %>
          <div class="pull-right">
            <%= link_to (t 'common.edit_btn_label'), edit_job_path(job) %>
            <%= link_to (t 'common.delete_btn_label'), job, method: :delete, data: {confirm: (t 'common.alert.delete')} %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @jobs.any? then %>
    <div class="bottom-title-container text-article-info">
      共检索到 <%= @jobs.count %> 条记录
      <%= will_paginate %>
    </div>
  <% end %>
</div>
