<div class="row-fluid">

  <div class="table-bordered border-left span6">
    <div class="top-title-container">
      <strong class="title">
        <%= link_to (t 'controller.experiences'), experiences_path %>
      </strong>
      <span class="pull-right"><%= link_to '更多»', experiences_path %></span>
    </div>
    <ul class="article-list">
      <% @experiences.each do |experience| %>
        <li>
          <%= link_to truncate(experience.title, length: 24), experience_path(experience) %>
          <span class="pull-right padding-right10 text-article-info"><%= experience.created_at_string('%m/%d') %></span>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="table-bordered border-left span6">
    <div class="top-title-container">
      <strong class="title">
        <%= link_to (t 'controller.reviews'), reviews_path %>
      </strong>
      <span class="pull-right"><%= link_to '更多»', reviews_path %></span>
    </div>
    <ul class="article-list">
      <% @reviews.each do |review| %>
        <li>
          <%= link_to truncate(review.title, length: 24), review_path(review) %>
          <span class="pull-right padding-right10 text-article-info"><%= review.created_at_string('%m/%d') %></span>
        </li>
      <% end %>
    </ul>
  </div>

</div>

<div class="table-bordered border-left margin-top20">
  <div class="top-title-container" style="background-color: #eeeeee;">
    <strong class="title">
      <%= link_to (t 'controller.jobs'), jobs_path %>
    </strong>
    <span class="pull-right"><%= link_to '更多»', jobs_path %></span>
  </div>
  <ul class="article-list">
    <% @jobs.each do |job| %>
      <li>
        <%= link_to job.title, job_path(job) %>
        <span class="text-article-info padding-left10">
          <% if job.job_comments.any? %>
            <%= job.job_comments.last.created_at_from_now %> By <%= job.job_comments.last.user.name %>
          <% else %>
            <%= job.created_at_from_now %> By <%= job.user.name %>
          <% end %>
        </span>
        <span class="pull-right padding-right10 text-article-info">
          <%= job.job_comments.count %>回/<%= job.pageview %>阅
        </span>
      </li>
    <% end %>
  </ul>
</div>


