<div class="row-fluid">

  <div class="table-bordered border-left span6">
    <div class="top-title-container">
      <strong class="title">
        <%= link_to (t 'controller.experiences'), experiences_path %>
      </strong>
    </div>
    <ul class="article-list">
      <% @experiences.each do |experience| %>
        <li>
          <%= link_to truncate(experience.title, length: 24), experience_path(experience) %>
          <span class="pull-right padding-right10 text-article-info"><%= experience.created_at.strftime('%m/%d') %></span>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="table-bordered border-left span6">
    <div class="top-title-container">
      <strong class="title">
        <%= link_to (t 'controller.reviews'), reviews_path %>
      </strong>
    </div>
    <ul class="article-list">
      <% @reviews.each do |review| %>
        <li>
          <%= link_to review.title, review_path(review) %>
        </li>
      <% end %>
    </ul>
  </div>

</div>

<div class="table-bordered border-left margin-top20">
  <div class="top-title-container">
    <strong class="title">
      <%= link_to (t 'controller.jobs'), jobs_path %>
    </strong>
  </div>
  <ul class="article-list">
    <% @jobs.each do |job| %>
      <li>
        <%= link_to job.title, job_path(job) %>
      </li>
    <% end %>
  </ul>
</div>


