<%= form_for(@user, builder: CustomFormBuilder, :html => {class: 'table-bordered border-left margin-bottom20'}) do |f| %>
  <div class="top-title-container">
    <%= link_to 'Home', root_path %>
  </div>

  <div class="padding10">
    <h4><%= @user.new_record? ? '用户注册' : '资料修改' %></h4>
    <hr/>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.text_field :email, label: '电子邮箱：', label_class: 'form-label width100', required: true, required_mark_before_label: true %>
    <%= f.text_field :name, label: '姓名：', label_class: 'form-label width100', required: true, required_mark_before_label: true, field_tip: '至多12个字符' %>
    <%= f.password_field :password, label: '登录密码：', label_class: 'form-label width100', required: true, required_mark_before_label: true, field_tip: '至少6个字符' %>
    <%= f.password_field :password_confirmation, label: '密码确认：', label_class: 'form-label width100', required: true, required_mark_before_label: true %>
    <%= f.radio_buttons :gender, [0, 1, -1], label: "性别：", label_class: 'form-label width100', labels: ["男", "女", "保密"] %>

    <div class="field">
      <%= f.submit '提交注册信息', :class => 'btn btn-primary' %>
      <%= link_to '已有账户', signin_path, :class => 'btn btn-primary' %>
    </div>
  </div>

  <div class="bottom-title-container">
    <%= link_to 'Home', root_path %>
  </div>
<% end %>
