<%= form_for(@experience, builder: CustomFormBuilder, :html => {class: 'table-bordered border-left margin-bottom20'}) do |f| %>
  <div class="top-title-container">
    <%= link_to 'Home', root_path %><span class="divider">/</span><%= link_to '求职经验', experiences_path %>
  </div>

  <div class="padding10">
    <h4><%= action_name == 'new' ? '新建帖子' : '编辑帖子' %></h4>
    <hr/>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.text_field :title, :label => '标题', required: true %>
    <%= f.text_field :company, :label => '公司名称' %>
    <%= f.text_area :details, :label => '正文', required: true %>
    <div class="field">
      <%= f.submit '保存', :class => 'btn' %>
      <%= link_to '取消', :back, :class => 'btn' %>
    </div>
  </div>

  <div class="bottom-title-container">
    <%= link_to 'Home', root_path %> / <%= link_to '求职经验', experiences_path %>
  </div>
<% end %>
