<div class="table-bordered border-left margin-bottom20">
  <div class="top-title-container higher">
    <div class="pull-left">
      <h4 class="inline"><%= @experience.title %></h4><br/>
    <span>
      <%= link_to '求职经验', experiences_path %>
      <span class="dot-divider">•</span>
      <%= @experience.user.name %>
      <span class="dot-divider">•</span>
      <%= @experience.created_at_from_now %>
    </span>
    </div>
    <%= image_tag 'http://placehold.it/48x48', :class => 'pull-right' %>
  </div>

  <div class="padding10">
    <!--<p id="notice"><%#= notice %></p>-->

    <h5 style="display:<%= @experience.company.strip.empty? ? 'none' : 'block' %>;">
      @<%= @experience.company %>
    </h5>

    <p>
      <%= @experience.details %>
    </p>
  </div>

  <div class="bottom-title-container">
    <% if signed_in? && current_user?(@experience.user) then %>
      <%= link_to '编辑', edit_experience_path(@experience) %>
      <span class="divider">/</span>
    <% end %>
    <%= link_to '返回', experiences_path %>
  </div>
</div>

<% if @experience.comments.any? then %>
  <div class="table-bordered border-left">
    <div class="top-title-container">
      共收到<%= @experience.comments_count %>条回复
    </div>
    <div class="padding10">
      middle
    </div>
    <div class="bottom-title-container">
      bottom
    </div>
  </div>
<% end %>

<div class="table-bordered border-left padding10">
  dfsdf
</div>
