<div class="table-bordered border-left">
  <div class="top-title-container text-article-info">
    共检索到 <%= @reviews.count %> 条记录
    <%= will_paginate %>
  </div>

  <% @reviews.each do |review| %>
    <div class="row-fluid border-bottom" style="padding-bottom: 10px;">
      <div class="padding10">
        <div class="pull-left">
          <%= add_cdn_path(image_tag 'portrait.gif', class: 'thumbnail portrait') %>
        </div>
        <div class="span10 article-list word-wrap" style="margin-left: 10px;">
          <%= link_to review.title, review_path(review), class: 'title' %>
          <br />
          <span class="text-article-info">
            <% unless review.company.strip.empty? then %>
              @<%= review.company %>
              <span class="dot-divider">•</span>
            <% end %>
            <%= review.user.name %>
            <span class="dot-divider">•</span>
            <% if review.review_comments.any? then %>
              最后由 <%= review.review_comments.last.user.name %> 于<%= review.review_comments.last.created_at_from_now %>回复
            <% else %>
              于<%= review.created_at_from_now %>发布
            <% end %>
            <% if review.review_comments.count > 0 then %>
              <span class="dot-divider">•</span>
              共<%= review.review_comments.count %>条回复
            <% end %>
          </span>
        </div>
        <% if signed_in? && current_user?(review.user) then %>
          <div class="pull-right">
            <%= link_to add_cdn_path(image_tag 'edit_16.png', alt: t('common.edit_btn_label')), edit_review_path(review) %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @reviews.any? then %>
    <div class="bottom-title-container text-article-info">
      共检索到 <%= @reviews.count %> 条记录
      <%= will_paginate %>
    </div>
  <% end %>
</div>
