<div class="table-bordered border-left margin-bottom20">
  <div class="top-title-container higher">
    <div class="pull-left">
      <h4 class="inline"><%= @review.title %></h4><br/>
      <span class="text-article-info">
        <%= link_to (t "controller.#{controller_name}"), reviews_path %>
        <span class="dot-divider">•</span>
        <%= @review.user.name %>
        <span class="dot-divider">•</span>
        于<%= @review.created_at_from_now %>发布
        <% if @review_comments.any? then %>
            <span class="dot-divider">•</span>
            最后由 <%= @review_comments.last.user.name %> 于<%= @review_comments.last.created_at_from_now %>回复
          <% end %>
        <span class="dot-divider">•</span>
        <%= @review.pageview %>次阅读
      </span>
    </div>
    <%= image_tag 'portrait.gif', :class => 'thumbnail pull-right portrait', style: 'margin-top: -6px;' %>
  </div>

  <div class="padding10">
    <!--<p id="notice"><%#= notice %></p>-->

    <h5 style="display:<%= @review.company.strip.empty? ? 'none' : 'block' %>;">
      @<%= @review.company %>
    </h5>

    <p>
      <%= @review.details.html_safe %>
    </p>
  </div>

  <div class="bottom-title-container">
    <% if signed_in? && current_user?(@review.user) then %>
      <%= link_to '编辑', edit_review_path(@review) %>
      <span class="divider">/</span>
    <% end %>
    <%= link_to '返回', reviews_path %>
  </div>
</div>

<% if @review.review_comments.any? then %>
  <div class="table-bordered border-left">
    <div class="top-title-container text-article-info">
      共收到<%= @review_comments.count %>条回复
      <%= will_paginate @review_comments %>
    </div>

    <% @review_comments.each do |review_comment| %>
      <div class="row-fluid border-bottom" style="padding-bottom: 10px;">
        <div class="padding10">
          <div class="pull-left">
            <%= image_tag 'portrait.gif', class: 'thumbnail portrait' %>
          </div>
          <div class="span10 article-list word-wrap" style="margin-left: 10px;">
            <small>
              <span class="text-article-info">
                <%= review_comment.user.name %>
                <span class="dot-divider">•</span>
                <%= review_comment.created_at_from_now %>
              </span>
            </small>
            <br />
            <%= review_comment.details.html_safe %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="bottom-title-container text-article-info">
      共收到<%= @review_comments.count %>条回复
      <%= will_paginate @review_comments %>
    </div>
  </div>
<% end %>

<% if signed_in? then %>
  <div class="table-bordered border-left padding10 margin-top20">
    <%= render 'shared/comment_form', object: @review, comment: @review_comment %>
  </div>
<% end %>
