<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/"><%= t 'website.title' %></a>

      <div class="nav-collapse collapse">
        <form class="navbar-form pull-right">
          <% if signed_in? then %>
            <%= link_to '退出', signout_path, method: "delete", :class => 'btn btn-primary' %>
          <% else %>
            <%= link_to '注册', signup_path, :class => 'btn btn-primary' %>
            <%= link_to '登录', signin_path, :class => 'btn btn-primary' %>
          <% end %>
        </form>
        <ul class="nav pull-right" style="margin-right: 6px;">
          <li class="<%= controller_name == 'index' ? 'active' : '' %>"><a href="/"><%= t 'controller.index' %></a></li>
          <li class="<%= controller_name == 'experiences' ? 'active' : '' %>"><%= link_to (t 'controller.experiences'), experiences_path %></li>
          <li class="<%= controller_name == 'reviews' ? 'active' : '' %>"><%= link_to (t 'controller.reviews'), reviews_path %></li>
          <li class="<%= controller_name == 'jobs' ? 'active' : '' %>"><%= link_to (t 'controller.jobs'), jobs_path %></li>
          <li class="<%= controller_name == 'about' ? 'active' : '' %>"><%= link_to (t 'controller.about'), about_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>