<meta charset="utf-8"/>
<!-- for sina weibo authentication
<meta property="wb:webmaster" content="e68c32bee4b74afb"/>-->
<%= add_cdn_path((favicon_link_tag 'favicon.ico'), 'href') %>
<title>IT资讯分享、求职、笔试、面试经验分享，IT企业工资待遇、企业文化点评...</title>
<meta name="Keywords" content="IT,资讯,分享,招聘,求职,笔试,面试,经验,IT企业,工资待遇,企业文化,点评"/>
<meta name="Description" content="IT分享网 专为IT职业人员分享求职、笔试、面试经验；爆料IT企业工资待遇、企业文化；提供一个空间给那些对现公司诸多不满的在职人员，空闲时来发发牢骚；为那些即将走出校园，走向社会的莘莘学子，以及那些蠢蠢欲动的在职人员提供宝贵的经验及内幕；"/>
<%= add_cdn_path((stylesheet_link_tag 'bootstrap', :media => 'all'), 'href') %>
<%= add_cdn_path((stylesheet_link_tag 'bootstrap-responsive', :media => 'all'), 'href') %>
<%= add_cdn_path((stylesheet_link_tag 'application', :media => 'all'), 'href') %>
<% if action_name == 'create' || action_name == 'update' || flash[:error] then %>
  <%= add_cdn_path((stylesheet_link_tag 'scaffolds', :media => 'all'), 'href') %>
<% end %>
<%= add_cdn_path(javascript_include_tag 'application') %>
<%= csrf_meta_tags %>