<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <!-- for sina weibo authentication -->
    <meta property="wb:webmaster" content="e68c32bee4b74afb"/>
    <title>IT资讯分享、求职、笔试、面试经验分享，IT企业工资待遇、企业文化点评...</title>
    <%= add_cdn_path((stylesheet_link_tag 'bootstrap', :media => 'all'), 'href') %>
    <%= add_cdn_path((stylesheet_link_tag 'bootstrap-responsive', :media => 'all'), 'href') %>
    <%= add_cdn_path((stylesheet_link_tag 'application', :media => 'all'), 'href') %>
    <% if action_name == 'create' || action_name == 'update' then %>
      <%= add_cdn_path((stylesheet_link_tag 'scaffolds', :media => 'all'), 'href') %>
    <% end %>
    <%= add_cdn_path(javascript_include_tag 'application') %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <div class="row">
        <div class="span9">
          <%= yield %>

          <% if !signed_in? && (controller_name != 'sessions' && controller_name != 'index' &&
                  (controller_name != 'users' || (action_name != 'new' && action_name != 'create'))) then %>
            <div class="table-bordered border-left padding10 alert-error margin-top20">
              需要 <%= link_to '登录', signin_path, class: 'btn btn-primary' %>
              后方可发表和回复, 如果你还没有账号你可以 <%= link_to '注册', signup_path, :class => 'btn btn-primary' %> 一个帐号。
            </div>
          <% elsif new_record_path %>
            <div class="table-bordered border-left padding10 alert-error margin-top20">
              <%= link_to (t 'controller.actions.new'), new_record_path, class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>

        <div class="span3 pull-right" style="margin-left: 0;">
          <%= render 'layouts/sidebar' %>
        </div>
      </div>

      <%= render 'layouts/footer' %>
    </div>

    <%= add_cdn_path(javascript_include_tag 'bootstrap') %>
  </body>
</html>
