<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>IT职业人员求职、笔试、面试经验分享，IT企业工资待遇、企业文化点评...</title>
    <%= stylesheet_link_tag 'bootstrap', :media => 'all' %>
    <%= stylesheet_link_tag 'bootstrap-responsive', :media => 'all' %>
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <div class="row">
        <div class="span9">
          <%= yield %>
        </div>

        <div class="span3 pull-right" style="margin-left: 0;">
          <%= render 'layouts/sidebar' %>
        </div>
      </div>

      <hr>

      <%= render 'layouts/footer' %>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'bootstrap' %>
  </body>
</html>
